::-webkit-scrollbar {
    background-color: transparent;
    width: 12px
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #77797d;
    border-radius: 16px;
}



.bg {
    background-color: #1A1D23;
    color: #D7DAE0;
}

.fg {
    background-color: #2C303A;
    color: #D7DAE0;
}


.pc {
    background-color: #FB4B4E;
    color: #33343c;
}

.hoverable:hover {
    color: #fff;
}

.hoverable {
    cursor: pointer;
}

.selected {
    background-color: #FB4B4E;
    color: #fff;
}

.glow {
    box-shadow: 0 0 10px 1px #FB4B4E;
}

.module {
    border-radius: 12px;
    margin: 0 30px 30px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}



.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}